.main-container {
  height: 100vh;
  width: 100vw;
  background: rgb(245,250,245);
  color: rgb(30, 40, 30);
  overflow: hidden;
}

.button {
  margin:1rem;
  min-width: 6rem;
  font-size: 1.4rem;
  background: rgb(230, 235, 30);
  color: rgb(30, 40, 30);
}

.counter-container, .clear-container {
  display: flex;
  margin-bottom: 2rem;
}

.clear-container {
  margin-top: 3rem;
}

.count-display, .total-display {
  margin-left: 1rem;
  margin-top: 1rem;
  line-height:1.4rem;
  color: rgb(60, 70, 60);
  width: 3rem;
}