.main-container {
  height: 100vh;
  width: 100vw;
  background: rgb(245,250,245);
  color: rgb(30, 40, 30);
  overflow: hidden;
  overscroll-behavior: none;
}

.button {
  margin:1rem;
  min-width: 6rem;
  font-size: 1.4rem;
  background: rgb(230, 235, 30);
  color: rgb(30, 40, 30);
  border: 1px solid rgb(30, 40, 30);
  border-radius: 4px;
}

.button-type, .new-button-icon {
  font-size: 3rem;
}

.button-type {
  margin-left: 1rem;
  width: 10rem;
}

.button-type, .count-display {
  line-height: 3rem;
  padding: .5rem;
  touch-action: none;
}

.new-button {
  display: flex;
  justify-content: center;
}

.counter-container, .clear-container, .counters-container {
  display: flex;
  margin-bottom: 2rem;
}

.clear-container {
  margin-top: 2rem;
}

.count-display {
  color: rgb(60, 70, 60);
  width: 3rem;
  margin-left: 1rem;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media (orientation: landscape) {
  .counter-container {
    flex-direction: column;
    width: 30%;
  }

  .counters-container {

  }

  .button-type {
    width: 8rem;
  }
}

@media (orientation: portrait) {
  .counter-container {
    width: 100%;
  }

  .counters-container {
    margin-top: 3rem;
    flex-wrap: wrap;
    align-items: center;
  }

  .button-type, .count-display {
    padding: 1.5rem;
  }
}